<div class="container">
    <h1>Mis amigos</h1>
    <hr />
    <div class="row">
      <div class="col-4">
        <h2>Nuevo amigo</h2>
        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input type="text" class="form-control" id="nombre" [(ngModel)]="nombre" placeholder="Introduce nombre">
        </div>
        <div class="form-group">
          <label for="ciudad">Ciudad</label>
          <input type="text" class="form-control" id="ciudad" [(ngModel)]="ciudad" placeholder="Introduce ciudad">
        </div>
        <div class="form-group">
          <label for="edad">Edad</label>
          <input type="number" class="form-control" id="edad" [(ngModel)]="edad" placeholder="Introduce edad">
        </div>
        <div class="form-group">
          <label for="profesion">Profesión</label>
          <input type="text" class="form-control" id="profesion" [(ngModel)]="profesion" placeholder="Introduce profesión">
        </div>
        <div class="form-group">
          <label for="aficion">Afición favorita</label>
          <input type="text" class="form-control" id="aficion" [(ngModel)]="aficionFavorita" placeholder="Introduce afición favorita">
        </div>
        <div class="form-group">
          <label for="avatar">Avatar</label>
          <input type="text" class="form-control" id="avatar" [(ngModel)]="avatar" placeholder="Introduce url avatar">
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="mejor" [(ngModel)]="mejoresAmigos">
          <label class="form-check-label" for="mejor">
            Mejor amigo
          </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="debe" [(ngModel)]="debeDinero">
            <label class="form-check-label" for="debe">
              Debe dinero
            </label>
          </div>
        <button type="button" class="btn btn-success mt-4" (click)="agregarAmigo()">Agregar amigo</button>
      </div>
      <div class="col">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Nombre</th>
              <th scope="col">Ciudad</th>
              <th scope="col">Edad</th>
              <th scope="col">Profesión</th>
              <th scope="col">Afición favorita</th>
              <th scope="col">Grupo mejores amigos</th>
              <th scope="col">Debe dinero</th>
              <th scope="col">Avatar</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            @for (amigo of misAmigos; track amigo.nombre; let i = $index) {
                <tr [class.mejorAmigo]="amigo.mejoresAmigos" [class.debeDinero]="amigo.debeDinero" [class.ambos]="amigo.debeDinero && amigo.mejoresAmigos">
                    <th scope="row">{{amigo.nombre}}</th>
                    <td><input type="text" class="form-control" [(ngModel)]="amigo.ciudad" /></td>
                    <td>{{amigo.edad}}</td>
                    <td>{{amigo.profesion}}</td>
                    <td>{{amigo.aficionFavorita}}</td>
                    <td>{{amigo.mejoresAmigos ? 'Sí':'No'}}</td>
                    <td>{{amigo.debeDinero ? 'Sí':'No'}}</td>
                    <td><img [src]="amigo.avatar" alt="avatar de {{amigo.nombre}}" class="avatar" /></td>
                    <!-- <td><button type="button" class="btn btn-danger" (click)="eliminarAmigo(i)">Eliminar amigo</button></td> -->
                    <td><button type="button" class="btn btn-danger" (click)="eliminarAmigoPorNombre(amigo.nombre)">Eliminar amigo</button></td>
                    <td><button type="button" class="btn btn-warning" (click)="cambiarGradoAmistad(i)">Cambiar grado de
                    amistad</button></td>
                    <td><button type="button" class="btn btn-warning" (click)="cambiarDebeDinero(i)">Cambiar deuda</button></td>
                  </tr>
            } 
          </tbody>
        </table>
      </div>
    </div>
  </div>