<h1>Bindings</h1>
 <hr>


<section>
  <h4>Interpolación</h4>
  <p>Me llamo: {{nombre}}</p>
  <p>{{n1*n2}}</p>
  <button (click)="cambiarNombre()">Cambiar nombre</button>
</section>

<br>

<section>
  <h4>Interpolación con propiedades de la clase</h4>
  <p>Mostrar imagen usando interpolación en src=""</p>
  <img src="{{logo}}" alt="logo de Lego" style="width: 100px;height: 75px;" />
</section>

<br>

<section>
  <h4>Property binding</h4>

  <button type="button" (click)="mostrarOcultarImagen()">Mostrar/ocultar imagen</button>
  <br />
  <img [src]="logo" alt="logo de Lego" [hidden]="verImagen" style="width: 100px;height: 75px;" />
</section>

<br>

<section>
  <h4>Interpolación y property binding</h4>
  <label for="nombre">{{textoLabel}}</label>
  <input type="text" id="nombre" [disabled]="deshabilitarInput" />
  <button type="button" (click)="habilitarDeshabilitarInput()">Habilitar/deshabilitar input</button>
</section>

<br>

<section>
  <h4>Binding de doble vía</h4>
  
  <input type="text" [(ngModel)]="texto" />
  <p>{{texto}}</p>
</section>


<section>
  <h4>Ejemplo de binding doble vía</h4>
  <input type="text" [(ngModel)]="nombrePersona" placeholder="Introduce nombre" />
  <input type="text" [(ngModel)]="apellidoPersona" placeholder="Introduce apellido" />
  <p>{{nombrePersona}} {{apellidoPersona}}</p>
</section>