<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/home']" routerLinkActive="active">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/binding']" routerLinkActive="active">Bindings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/directivas']" routerLinkActive="active">Directivas</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Pipes
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" [routerLink]="['/pipes-angular']" routerLinkActive="active">Pipes de
                Angular</a></li>
            <li><a class="dropdown-item" [routerLink]="['/pipes-personalizados']" routerLinkActive="active">Pipes
                personalizados</a></li>
          </ul>
        </li>

        <!-- Formularios -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Formularios
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" [routerLink]="['/formulario-usuarios']" routerLinkActive="active">Formularios
                Usuarios</a></li>
            <li><a class="dropdown-item" [routerLink]="['/formulario-clientes']" routerLinkActive="active">Formulario
                Clientes</a></li>
          </ul>
        </li>
        <!-- Amigos -->
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/amigos']" routerLinkActive="active">Amigos</a>
        </li>

        <!-- Lista Personas -->
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/lista-personas']" routerLinkActive="active">Lista de Personas</a>
        </li>

        <!-- Recetas -->
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/recetas']" routerLinkActive="active">Recetas</a>
        </li>
        
        <!-- Chistes -->
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/chistes']" routerLinkActive="active">Chistes</a>
        </li>
      </ul>
    </div>
  </div>
</nav>