<h1>Directivas estructurales</h1>
<h2>&#64;If</h2>

<input type="number" [(ngModel)]="calificacion" min="0" max="10">
@if (calificacion>=5) {
    <p>Has superado la prueba!</p>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fe/Green-Up-Arrow.svg/1200px-Green-Up-Arrow.svg.png"
    alt="aprobado" />
} @else {
    <p>Has suspendido</p>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/04/Red_Arrow_Down.svg/1200px-Red_Arrow_Down.svg.png"
    alt="suspenso" />
} 

<p>Comisiones</p>
<input type="number" [(ngModel)]="ventas" min="0">
@if (ventas<1000) {
    <p>No has alcanzado las ventas mínimas de 1000</p>
} @else if (ventas>1000 && ventas<2000) {
    <p>{{ventas*.1}}</p>
} @else {
    <p>{{ventas*.2}}</p>
}

<h3>&#64;If</h3>
<input type="number" [(ngModel)]="edad" min="0">
@if (edad>65) {
    <p>Jubilado</p>
} @else {
    <p>Trabajador</p>
}

<h2>&#64;switch</h2>
<input type="text" [(ngModel)]="color">
<br/>
@switch (color) {
    @case ('rojo') {
        <img src="https://t4.ftcdn.net/jpg/04/97/46/61/360_F_497466151_xNOUsRtjWIoG1O1zd98UNr2eR7RFamOj.jpg" alt="rojo" />
    }
    @case ('azul') {
        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAAQlBMVEUATP////8AAABhYWEAT/9dXV3m5ubr6+vX19f19fXv7+/4+PjMzMzU1NTR0dHJycmMjIwAU//e3t7Dw8O9vb2wsLB9sNn1AAACN0lEQVR4nO3T6YrbQBBF4anYqt602C3n/V81LcZD/iSBkQlzazgHJLRQ0B8tvdl37+2rF/DfQxg/hPFDGD+E8UMYP4TxQxg/hPFDGD+E8UMYP4Tx+4fwNl2iNN1OCacfcZpOCS9fvexPdEH4V+H9qt/9JeH1Tb8rQoTyIUSoH0KE+iFEqB9ChPohRKgfQoT6IUSoH0KE+iFEqB9ChPohRKgfQoT6IUSoH0KE+iFEqB9ChPohRKgfQoT6IUSoH0KE+iFEqB9ChPohRKgfQoT6IUSoH0KE+iFEqB9ChPohRKgfQoT6IUSoH0KE+iFEqB9ChPohRKgfQoT6IUSoH0KE+iFEqB9ChPohRKgfQoT6IUSoH0KE+iFEqB9ChPohRKgfQoT6IUSoH0KE+iFEqB9ChPohRKjfa8L7Vb/7S8IoIfxz01cv+xNNp4S36RKl6XZK+E1CGD+E8UMYP4TxQxg/hDp5zvXMXBjhkrz3bmtera65lm2r3dI8V6+WiiW31s1qyuNIJeflYzCKsPjixbLt1jZ3s7kdxzZe5N0Gct6trGapb222Xvffk1GE3Y5F12Ppu2+5lUe3uSxWbamL1+K5PIUPO4S5f0yGEbZDmN6FfjzxvA6TL9mWXMbHu7Z3ofeYezg2bFvGB/hIq/vqdS5pmW2uZR0/3M86cHsZdO+7ZR9C9/YcDCMsc+/j56upWUupWncrYyP7cW5lcNp4nFobt3Wcx+VzMIxwGMupsUDCkyGMH8L4fX/hL3UJfLFK0R7PAAAAAElFTkSuQmCC"
            alt="azul" />
    }
    @case ('verde') {
        <img src="https://www.nicepng.com/png/detail/804-8040064_green-square-png-aqua-green-color.png" alt="verde" />
    }
    @default {
        <p>No tengo más colores</p>
    }
  }

<h2>&#64;for</h2>

<p>Receta de tortilla</p>
<ul>
    @for (ingrediente of ingredientes; track ingrediente) {
        <li>{{ ingrediente }}</li>
    } @empty {
        <li>No hay ingredientes</li>
    }
</ul>
<input type="text" [(ngModel)]="otroIngrediente" />
<button type="button" (click)="agregarIngrediente()">Agregar ingrediente</button>
<p>Galería de imágenes</p>
<div class="row">
    @for (imagen of imagenes; track $index; let i = $index) {
        <div class="col-4">
            <span>{{i}}</span>
            <img [src]="imagen" class="img-fluid" />
        </div>
    } @empty {
        <li>No hay ingredientes</li>
    }
</div>
<br />
<input type="text" [(ngModel)]="otraImagen" placeholder="Agregar url de imagen" />
<button type="button" (click)="agregarImagen()">Agregar imagen</button>

